@{
    ViewBag.Title = "QuanLySlide_Sua";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

@section ThemThuVienCss{
    <link rel="stylesheet" href="/Content/css/index.css">
    <link rel="stylesheet" href="/Content/css/dataTables.bootstrap4.min.css">
}
@section ThemThuVienJs{
    <script src="/Content/js/jquery.dataTables.js"></script>
    <script src="/Content/js/dataTables.bootstrap4.js"></script>

    <!-- Page level custom scripts -->
    <script src="/Content/js/datatables-demo.js"></script>
}
@using doanweb.Models;
@model tbl_slider

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thông Tin Slide</h1>
    <a class="btn btn-success ml-auto" href="@Url.Action("QuanLySlide","Admin_QLSLIDE")"><i class="fas fa-long-arrow-alt-left"></i>  Trở Về</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="container-fluid mt-3">
                <h4 class="mb-2">@ViewBag.QLSLIDE_S_TieuDe</h4>
                <form method="post" action="@Url.Action("QuanLySlide_Sua", "Admin_QLSLIDE", new {@MaSua=Model.Id })" role="form" enctype="multipart/form-data">
                    <div class="form-row">

                        <div class="form-group col-sm-9">
                            <label for="TenSlide">Tên Slide @ViewBag.QLSLIDE_S_TenSlide</label>
                            @Html.TextBoxFor(model => model.TenSlider, new { @type = "text", @class = "form-control", @id = "TenSlide_T", @placeholder = "VD: Đồng Hồ AAA Mới Nhất Mua Ngay" })

                        </div>

                        <div class="form-group col-sm-3">
                            <label for="TrangThai">Trạng Thái Kích Hoạt @ViewBag.QLSLIDE_S_TrangThai</label>
                            <select id="TrangThai_T" name="TrangThai_T" class="form-control">
                                @{
                                    if(Convert.ToInt32( Model.TrangThai.ToString())==1)
                                    {
                                        <option selected value="1">Không Kích Hoạt </option>
                                        <option value="2"> Kích Hoạt</option>
                                    }
                                    else
                                    {
                                        <option value="1">Không Kích Hoạt </option>
                                        <option selected value="2"> Kích Hoạt</option>
                                    }
}
                                
                            </select>

                        </div>

                    </div>

                    <div class="form-group">
                        <label for="NoiDungChiTiet">Nội Dung Chi Tiết @ViewBag.QLSLIDE_S_NoiDungChiTiet</label>
                        @Html.TextAreaFor(model => model.NoiDungChiTiet, new { @type = "text", @class = "form-control", @id = "GiaTien_T", @placeholder = "VD: Giảm Ngay 20% Dịp Noel Này ..." })

                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label for="AnhSilde">Ảnh Slide @ViewBag.QLSLIDE_S_AnhSlide</label>
                            @Html.TextBoxFor(model => model.DuongDan, htmlAttributes: new { @type = "file", @class = "form-control", @id = "DuongDan_T", @name = "DuongDan_T" })

                        </div>
                        <div class="form-group col-sm-4">
                            <label for="ThongBaoAnhSilde">Ảnh Slide Hiện Tại</label>
                            <img src="@Url.Content("~/Content/images/slider/"+@Model.DuongDan)" class="img-thumbnail" style="width:300px;height:300px;" alt="@Model.TenSlider">

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"> Cập Nhật </button>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
